.nav {
  border-bottom: 1px solid #bbb;
}
.nav a {
  font-size: medium;
  color: #B1B6B4;
  font-family: "tex_gyre_herosregular";
}
.nav a:hover {
  width: 3, 5rem;
  background-color: #B1B6B4;
  border-radius: 15px;
}

* {
  text-decoration: none;
  list-style: none;
}

body {
  background-color: #030303;
  margin: 0;
  padding: 0;
}

.container_albums {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.container_albums h2 {
  color: #B1B6B4;
  margin: 2rem;
  padding: 1rem;
}
.container_albums .albums_recientes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.container_albums img {
  margin: 3rem;
  padding: 1rem;
  margin: 1rem;
  width: 100%;
  -webkit-transition: 1s;
  transition: 1s;
}
.container_albums img:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

.container_gira_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 3rem;
  padding: 2rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.container_gira_list .gira_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.container_gira_list a {
  text-decoration: none;
  list-style: none;
}
.container_gira_list li, .container_gira_list h2, .container_gira_list hr {
  color: #B1B6B4;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
  font-size: 1.75vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.container_gira_list li .gira_evento, .container_gira_list h2 .gira_evento, .container_gira_list hr .gira_evento {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.container_gira_list li p, .container_gira_list h2 p, .container_gira_list hr p {
  text-decoration: none;
  list-style: none;
  font-size: 1rem;
}
.container_gira_list li:hover {
  background-color: #5a5a5a;
}

.ver_fechas {
  text-decoration: none;
  list-style: none;
  margin: auto;
  padding: 1rem;
  background-color: #5a5a5a;
  color: rgb(10, 10, 10);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

hr {
  color: #B1B6B4;
}

.container_video {
  width: 100%;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.container_video .video_musica {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
  margin: 1rem;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.container_video .video_musica h3 {
  margin: 3rem;
  text-align: center;
}
.container_video .video_musica h3 a {
  text-decoration: none;
  list-style: none;
  color: #B1B6B4;
}
.container_video .video_invertido {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.container_ticket_list {
  color: #B1B6B4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.container_ticket_list ul {
  width: 90%;
}

.ticket_list {
  list-style-type: none;
  padding: 0;
  margin: 30px;
}
.ticket_list li, .ticket_list hr {
  color: #B1B6B4;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
  font-size: 1.75vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.ticket_list li .fecha_evento, .ticket_list hr .fecha_evento {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.ticket_list li p, .ticket_list hr p {
  text-decoration: none;
  list-style: none;
  font-size: 1vw;
}

.ticket_list li:hover {
  background-color: #5a5a5a;
}

.historia_band {
  margin: 3%;
  margin-top: 20px;
}
.historia_band hr, .historia_band h2, .historia_band h4, .historia_band p, .historia_band tr, .historia_band th, .historia_band img {
  text-align: justify;
  color: #D7DDDB;
}
.historia_band h1 {
  color: #B18A67;
}
.historia_band .table_mienbros {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}
.historia_band .table_mienbros th, .historia_band .table_mienbros td {
  border: solid 1px #D7DDDB;
  padding: 1rem;
  font-size: large;
}
.historia_band .table_mienbros th {
  width: 20%;
  border-bottom: 3px solid #D7DDDB;
}
.historia_band .table_mienbros td {
  width: 30%;
}

.carrusel_img_conciertos {
  width: 60%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main h1 {
  color: #D7DDDB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
main section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card {
  width: 16rem;
  padding: 1rem;
  margin: 1rem;
  background-color: #D7DDDB;
  border-radius: 5%;
  text-align: justify;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.card img {
  width: 100%;
}
.card div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.card a {
  text-decoration: none;
  background-color: #D7DDDB;
  color: black;
  border: 1px solid #000000;
  border-radius: 10px;
  padding: 0.2rem;
}

.container_cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer {
  border-top: 1px solid #D7DDDB;
}
footer .container_footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "texto_footer texto_footer foto_logo" "logo_redes logo_redes foto_logo";
  width: 95%;
  height: 20%;
  color: #D7DDDB;
}
footer .texto_footer {
  grid-area: texto_footer;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}
footer .logo_redes {
  grid-area: logo_redes;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .logo_redes img {
  width: 90px;
}
footer .foto_logo {
  grid-area: foto_logo;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

@media (max-width: 860px) {
  .container_video .video_musica {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 600px) {
  .container_video .video_musica video {
    width: 450px;
  }
}
@media (max-width: 480px) {
  .container_video .video_musica video {
    width: 350px;
  }
}
@media (max-width: 380px) {
  .container_video .video_musica video {
    width: 280px;
  }
}
@media (max-width: 750px) {
  .container_gira_list {
    padding: 10px;
    margin: 10px;
  }
  .gira_list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .gira_list h2 {
    padding: 0px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: medium;
  }
  .gira_list h4 {
    display: none;
  }
}
@media (max-width: 800px) {
  .ticket_list .fecha_evento {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .ticket_list p {
    display: none;
  }
}
@media (max-width: 1020px) {
  .imagenes_conciertos {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .imagenes_conciertos img {
    margin: 2rem;
  }
}
@media screen and (max-width: 600px) {
  footer .container_footer {
    display: block;
    text-align: center;
  }
  footer .container_footer .foto_logo {
    display: none;
  }
}