// -------ESTILOS DE INDEX.HTML--------

.container_albums{
    display: flex;
    flex-direction: column;
    align-items: center;

    h2{
        color: #B1B6B4;
        margin: 2rem;
        padding: 1rem;
    }

    .albums_recientes{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    overflow-x: hidden;

    }

    a{
        justify-content: center;
        align-items: center;

        img{
            margin: 3rem;
            padding: 1rem;
            margin:1rem;
            width: 100%;
            transition: 1s;
            }
        
            // img:hover{
            //     transform: scale(1.15);
            // }

    }

}

.container_gira_list{
    display: flex;
    flex-direction: column;
    margin: 3rem;
    padding: 2rem;
    justify-content: space-around;
 
    .gira_list{
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    a{
        text-decoration: none;
        list-style: none;
    }

    li, h2, hr{
        color: #B1B6B4;
        padding: 10px;
        margin-bottom: 5px;  
        border-radius: 5px;
        font-size: 1.75vw;
        display: flex;
        flex-direction: column;
        
        .gira_evento{
            display: flex;
            justify-content: space-between;
        }

        p{
            text-decoration: none;
            list-style: none;
            font-size: 1rem;
        }
    }

    li:hover{
        background-color: #5a5a5a;
        }
     
}

.ver_fechas{
    text-decoration: none;
    list-style: none;
    margin: auto;
    padding: 1rem;
    background-color: #5a5a5a;
    color: rgb(10, 10, 10);
    display: flex;
    justify-content: center;
    align-items: center;
}

hr{
    color: #B1B6B4;
}